.chat-main__message{data: {message: {id: message.id}}}
  .message
    .chat-main__message-list__group
      .chat-main__message-list__group-member 
        = message.user.name
      .chat-main__message-list__group-time 
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .chat-main__message-list__group-time
      - if message.content.present?
        = message.content
    .chat-main__message-list__group-time__image
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?